@{
    ViewData["Title"] = "Contact Info";
}


<div class="align-self-center">
    <h3>Ask me to sing, or to teach you to sing!</h3>
    <p>
        Phone: (385) 219-5548 <br />
        Email: lilyrjones2001@gmail.com<br />
        I'll get back to you within 2 business days :)

    </p>
    <br />


</div>