@{
    ViewData["Title"] = "Lily Peterson";
}
<body>
    @*This is the first heading, where you can put in whatever you would like.*@
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

    </div>

        <br />
        @*This is the first section of the Index page*@
        <div>


        </div>

        <br />
</body>